<div id="category-menu" class="navbar collapse mb_40 hidden-sm-down in" aria-expanded="true" style="" role="button">
    <div class="nav-responsive">
      <ul class="nav  main-navigation collapse in ">
        <li><a href="#">Pharmacy</a></li>
        <li><a href="#">Health</a></li>
        <li><a href="#">Beauty</a></li>
        <li><a href="#">Vitamins</a></li>
        <li><a href="#">Sweating</a></li>
        <li><a href="#">Coughs & Colds</a></li>
        <li><a href="#">Hair Loss</a></li>
        <li><a href="#">Weight Loss</a></li>
        <li><a href="#">Antifungals</a></li>
        <li><a href="#">Pain Relief</a></li>
        <li><a href="#">Stop Smoking</a></li>
        <li><a href="#">Skin Conditions</a></li>
        <li><a href="#">Top Brands</a></li>
      </ul>
    </div>
  </div>